{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
    </style>
</head>
<body class="bg-gray-100 font-family-karla flex">

    <aside class="relative bg-sidebar h-max w-64 hidden sm:block shadow-xl overflow-y-hidden">
        <div class="p-6">
            <a href="" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">
                {% if 'officerName' in request.session %}
                    {{request.session.officerName}}
                {% endif %}
            </a>
        </div>
        <nav class="text-white text-base font-semibold pt-3 ">
            <a href="{% url 'PoliceOfficerApp:OfficerDashboard' %}" class="flex items-center {% if pageID == 1 %} active-nav-link {% endif %} text-white py-4 pl-6 nav-item">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Dashboard
            </a>
            <a href="{% url 'PoliceOfficerApp:OfficersDisplay' %}" class="flex items-center {% if pageID == 2 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-sticky-note mr-3"></i>
                Officers
            </a>
            <a href="{% url 'PoliceOfficerApp:CitizensDisplay' %}" class="flex items-center {% if pageID == 3 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Citizen
            </a>
            <a href="{% url 'PoliceOfficerApp:CriminalsDisplay' %}" class="flex items-center {% if pageID == 4 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Criminals
            </a>
            <a href="{% url 'PoliceOfficerApp:CrimeListDisplay' %}" class="flex items-center {% if pageID == 5 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Crimes
            </a>
            <a href="{% url 'PoliceOfficerApp:CrimesDisplay' %}" class="flex items-center {% if pageID == 6 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Record OB
            </a>
            <a href="{% url 'PoliceOfficerApp:ViewStations' %}" class="flex items-center {% if pageID == 8 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Police Station
            </a>
            <a href="{% url 'PoliceOfficerApp:CaseIndex' %}" class="flex items-center {% if pageID == 9 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Case
            </a>
            <a href="{% url 'PoliceOfficerApp:OfficerProfile' %}" class="flex items-center {% if pageID == 7 %} active-nav-link {% endif %} text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Profile
            </a>

        </nav>
        <a href="{% url 'PoliceOfficerApp:OfficerLogout' %}" class="absolute w-full h-10 upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
            Logout
        </a>
    </aside>

    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <div class="overflow-y-auto select-none p-4 h-full">
            {% if messages %}
                {% for message in messages%}
                    {% if message.tags == 'error' %}
                        <div class="flex justify-center">
                            <div class="p-4 m-4 bg-red-300 w-2/3 text-red-800 rounded border-red-600 border-2">
                                <span>
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="flex justify-center">
                            <div class="p-4 m-4 bg-green-300 w-2/3 text-green-800 rounded border-green-600 border-2">
                                <span>
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif%}
            {% block content %}
                <!-- body of the page you have selected -->
            {% endblock %}
        </div>

        <!-- AlpineJS -->
    </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

</body>
</html>
