{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
<table class="table m-4 text-center">
    <thead>
        <tr>
            <th>Citizen ID </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone Number</th>
            <th>National ID</th>
            <th>Gender</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for CitizensDisplay in citizens %}
            <tr>
                <td>{{CitizensDisplay.id}}</td>
                <td>{{CitizensDisplay.fName}}</td>
                <td>{{CitizensDisplay.lName}}</td>
                <td>{{CitizensDisplay.tel}}</td>
                <td>{{CitizensDisplay.address}}</td>
                <td>{{CitizensDisplay.nationalID}}</td>
                <td>{{CitizensDisplay.gender}}</td>
                <td>{{CitizensDisplay.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
