{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
<h2 class="text-center text-blue-500"> View Citizens </h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Citizen ID
                </th>
            <th>
                First Name
            </th>

                <th scope="col" class="px-6 py-3">
                 Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
 <th scope="col" class="px-6 py-3">
                      Telephone Number
                </th>
 <th scope="col" class="px-6 py-3">
                    National ID
                </th>
 <th scope="col" class="px-6 py-3">
                    Gender
                </th>
             <th scope="col" class="px-6 py-3">
                    Address
                </th>
        </tr>
    </thead>
    <tbody>
        {% for CitizensDisplay in citizens %}
           <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <td class="px-6 py-4">
                     {{CitizensDisplay.id}}
              </td>
                 <td class="px-6 py-4">
                     {{CitizensDisplay.fName}}
                 </td>
                <td class="px-6 py-4">
                    {{CitizensDisplay.lName}}
                </td>
                 <td class="px-6 py-4">
                     {{CitizensDisplay.tel}}
                 </td>
                <td class="px-6 py-4">
                    {{CitizensDisplay.address}}
                </td>
                 <td class="px-6 py-4">
                     {{CitizensDisplay.nationalID}}
                 </td>
                 <td class="px-6 py-4">
                     {{CitizensDisplay.gender}}
                 </td>
                 <td class="px-6 py-4">
                     {{CitizensDisplay.email}}
                 </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
{% endblock content %}
