{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
<h2 class="text-center"><a href="{% url 'PoliceOfficerApp:criminalbooking' %}"> Book A Criminal </a> | <a class="text-blue-500" href="{% url 'PoliceOfficerApp:CriminalsDisplay' %}"> View Criminals </a></h2>


<div class="flex justify-center">
    <div class="mx-20 w-full rounded-lg flex flex-row">
            <div class="w-full p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-full m-auto flex flex-col justify-center my-2">
                    <div class="flex flex-col my-2 text-center">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Criminal Booking
                            </span>
                            <span class="text-sm text-gray-600 my-1">
                                Please fill in the details below
                            </span>
                        </div>
                    </div>
                    <hr class="text-black border-2 border-black my-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="flex flex-row justify-around w-full">
                            <div class="w-5/12 flex flex-col">
                                <div class="form-group w-full flex flex-row my-2 justify-between">
                                <div class="w-1/2 mr-2 ">
                                    <div class="form-label">
                                        <label for="criminalFName" class="text-base my-2">
                                            First Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="criminalFName" name="criminalFName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            John
                                        </span>
                                    </div>
                                </div>
                                <div class="ml-2 w-1/2">
                                    <div class="form-label">
                                        <label for="criminalLName" class="text-base my-2">
                                            Last Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="criminalLName" name="criminalLName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Doe
                                        </span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group w-full flex flex-row my-2 justify-between">
                                    <div class="w-1/2 mr-2 ">
                                        <div class="form-label">
                                            <label for="criminalPhone" class="text-base my-2">
                                                Telephone
                                            </label>
                                        </div>
                                        <div class="form-input my-2 flex">
                                            <input type="text" id="criminalPhone" name="criminalPhone" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        </div>
                                        <div class="text-xs">
                                            <span class="text-gray-700">
                                                +254|
                                            </span>
                                        </div>
                                    </div>
                                    <div class="ml-2 w-1/2">
                                        <div class="form-label">
                                            <label for="criminalAddress" class="text-base my-2">
                                                Address
                                            </label>
                                        </div>
                                        <div class="form-input my-2 flex">
                                            <input type="text" id="criminalAddress" name="criminalAddress" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        </div>
                                        <div class="text-xs">
                                            <span class="text-gray-700">
                                                Embakasi, Nairobi
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="criminalIDNo" class="text-base my-2">
                                            National ID/Passport/Birth Certificate Number
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <input type="text" id="criminalIDNo" name="criminalIDNo" required minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="criminalGender" class="text-base my-2">
                                            Gender
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <select name="criminalGender" id="criminalGender" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                            <option value="">-</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="w-5/12 flex flex-col">
                                <div class="form-group w-full flex flex-col my-2">
                                <div class="form-label">
                                    <label for="crimeID" class="text-base my-2">
                                        Crime Name
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <select name="crimeID" id="crimeID" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        {% for crime in crimes %}
                                        <option value="{{crime.id}}">{{crime.description}}/{{crime.reportTime}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">

                                    </span>
                                </div>
                            </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="criminalStatus" class="text-base my-2">
                                            Criminal Status
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <select name="criminalStatus" id="criminalStatus" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                            <option value="">-</option>
                                            <option value="pending">Pending</option>
                                            <option value="approved">Approved</option>
                                            <option value="denied">Denied</option>
                                        </select>
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-4">
                                    <div class="form-label">
                                        <label for="arrestLocation" class="text-base my-2">
                                            Location Arrested
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="arrestLocation" name="arrestLocation" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-4">
                                    <div class="form-label">
                                        <label for="arrestDate" class="text-base my-2">
                                            Date Arrested
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="datetime-local" id="arrestDate" name="arrestDate" max="28-06-2022" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-input my-2">
                                        <input type="file" name="crimeFiles" id="crimeFiles" accept="image/*, video/*" multiple="multiple">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            You can upload any images, videos or files related to the crime you are reporting.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-button w-full flex justify-center my-4">
                            <button name="criminalBookBtn" class="p-2 text-center w-1/2 rounded bg-blue-600 text-white text-lg">
                                Book Criminal
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock content %}