{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
<h2 class="text-center"><a  href="{% url 'PoliceOfficerApp:CrimesDisplay' %}"> View Crimes </a> | <a class="text-blue-500" href="{% url 'PoliceOfficerApp:ob' %}"> Record OB </a> </h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                Crime ID
            </th>
            <th scope="col" class="px-6 py-3">
                Description
            </th>
            <th scope="col" class="px-6 py-3">
                Crime Nature
            </th>
                   <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for CrimesDisplay in crimes %}
             <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <td class="px-6 py-4">
                    {{CrimesDisplay.id}}
                </td>
                 <td class="px-6 py-4">
                    {{CrimesDisplay.description}}
                </td>
                   <td class="px-6 py-4">
                    {{CrimesDisplay.crimeNature}}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}