{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
<h2 class="text-center"><a href="{% url 'PoliceOfficerApp:CriminalsDisplay' %}"> View Criminals </a> | <a class="text-blue-500" href="{% url 'PoliceOfficerApp:criminalbooking' %}"> Book A Criminal </a> </h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                       Criminal ID
                </th>
               <th scope="col" class="px-6 py-3">
                First Name
            </th>
               <th scope="col" class="px-6 py-3">
                Last Name
            </th>
                 <th scope="col" class="px-6 py-3">
                Telephone Number
            </th>
                <th scope="col" class="px-6 py-3">
                Address
            </th>
                <th scope="col" class="px-6 py-3">
                National ID
            </th>
               <th scope="col" class="px-6 py-3">
                Gender
            </th>
                <th scope="col" class="px-6 py-3">
                Crime ID
            </th>
                <th scope="col" class="px-6 py-3">
                criminal Status
            </th>
               <th scope="col" class="px-6 py-3">
                Location Arrested
            </th>
                 <th scope="col" class="px-6 py-3">
                 Arrest Date
            </th>
                   <th scope="col" class="px-6 py-3">
             Action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for CriminalsDisplay in criminals %}
            <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

              <td class="px-6 py-4">
                    {{CriminalsDisplay.id}}
                </td>
                <td class="px-6 py-4">
                    {{CriminalsDisplay.fName}}
                </td>
              <td class="px-6 py-4">
                    {{CriminalsDisplay.lName}}
                </td>
                <td class="px-6 py-4">
                    {{CriminalsDisplay.tel}}
                </td>
               <td class="px-6 py-4">
                    {{CriminalsDisplay.address}}
                </td>
               <td class="px-6 py-4">
                    {{CriminalsDisplay.nationalID}}
                </td>
               <td class="px-6 py-4">
                    {{CriminalsDisplay.gender}}
                </td>
               <td class="px-6 py-4">
                    {{CriminalsDisplay.crimeID}}
                </td>
                <td class="px-6 py-4">
                    {{CriminalsDisplay.criminalStatus}}
                </td>
                 <td class="px-6 py-4">
                    {{CriminalsDisplay.locationArrested}}
                </td>
                  <td class="px-6 py-4">
                    {{CriminalsDisplay.arrestDate}}
                </td>
<!--                Edit button calls edit view-->
                                 <td style="padding:10px;"><a href="{% url 'PoliceOfficerApp:edit' CriminalsDisplay.id %}">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}
