{% extends "PoliceOfficerApp/base.html" %}
{% load static %}
{% block content %}
<div class="main-container flex flex-row w-full p-2 bg-gray-200 overflow-y-scroll h-full">
    <div class="flex flex-col p-2 w-1/4 mr-1 bg-white rounded-l-lg">
        <div class="img-container p-1">
            <img src="{% static 'square.webp' %}" alt="">
        </div>
    </div>
    <div class="flex flex-col w-3/4 ml-1">
        <div class="w-full bg-white h-1/2 mb-1 rounded-tr-lg">

        </div>
        <div class="w-full bg-white h-1/2 mt-1 rounded-br-lg">

        </div>
    </div>
</div>
{% endblock content %}
