{% extends "PoliceOfficerApp/base.html" %}
{% block content %}


<h2 class="text-center"> <a href="{% url 'PoliceOfficerApp:OfficerRegister' %}"> Register An Officer </a>  | <a class="text-blue-500" href="{% url 'PoliceOfficerApp:OfficersDisplay' %}"> View Officers </a> </h2>


    <div class="flex justify-center">
        <div class="my-2 mx-20 w-full rounded-lg flex flex-row">
                <div class="w-full p-4 bg-gray-100 rounded-l-lg">
                    <div class="form-container w-full m-auto flex flex-col justify-center my-2">
                        <div class="flex flex-col my-4">
                            <div class="flex flex-col text-center">
                                <span class="text-4xl">
                                    Welcome to Officer Registration
                                </span>
                                <span class="text-sm text-gray-600 my-1">
                                    Please fill in the details below
                                </span>
                            </div>
                        </div>
                        <hr class="text-black border-2 border-black my-4">
                       <form action="" method="POST" id="officer-form" class="flex flex-col w-1/2 m-auto" enctype="multipart/form-data">

                            {% csrf_token %}
                             <div class="form-group w-full flex flex-row my-2 justify-between">
                                <div class="w-1/2 mr-2 ">
                                    <div class="form-label">
                                        <label for="OFName" class="text-base my-2">
                                            First Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="OFName" name="regFName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            John
                                        </span>
                                    </div>
                                    <small class="text-red-700 hidden" id="OFNameError">
                                        Invalid first name.
                                    </small>
                                </div>
                                <div class="ml-2 w-1/2">
                                    <div class="form-label">
                                        <label for="OLName" class="text-base my-2">
                                            Last Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="OLName" name="regLName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Doe
                                        </span>
                                    </div>
                                     <small class="text-red-700 hidden" id="OLNameError">
                                        Invalid last name.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group w-full flex flex-row my-2 justify-between">
                                <div class="w-1/2 mr-2 ">
                                    <div class="form-label">
                                        <label for="OPhone" class="text-base my-2">
                                            Telephone
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="OPhone" name="regPhone" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Should be 10 digits
                                        </span>
                                    </div>
                                       <small class="text-red-700 hidden" id="OPhoneError">
                                        Invalid phone number.
                                    </small>
                                </div>
                                <div class="ml-2 w-1/2">
                                    <div class="form-label">
                                        <label for="OAddress" class="text-base my-2">
                                            Address
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="OAddress" name="regAddress" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Embakasi
                                        </span>
                                    </div>
                                       <small class="text-red-700 hidden" id="OAddressError">
                                        Invalid Address.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group w-full flex flex-col my-2">
                                <div class="form-label">
                                    <label for="OIDNo" class="text-base my-2">
                                        National ID/Passport/Birth Certificate Number
                                    </label>
                                </div>
                                <div class="form-input my-2">
                                    <input type="text" id="OIDNo" name="regIDNo" required minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">

                                    </span>
                                </div>

                            </div>
                            <div class="form-group w-full flex flex-col my-2">
                                <div class="form-label">
                                    <label for="OGender" class="text-base my-2">
                                        Gender
                                    </label>
                                </div>
                                <div class="form-input my-2">
                                    <select name="regGender" id="OGender" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        <option value="">-</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group w-full flex flex-col my-4">
                                <div class="form-label">
                                    <label for="OEmail" class="text-base my-2">
                                        Email
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <input type="email" id="OEmail" name="regEmail" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                  <small class="text-red-700 hidden" id="OEmailError">
                                        Invalid Email.
                                  </small>
                            </div>
                           <div class="form-group w-full flex flex-col my-4">
                                <div class="form-label">
                                    <label for="stationID" class="text-base my-2">
                                        Police Station Posted
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                      <select name="stationID" id="stationID" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                          {% for station in stations %}
                                          <option value="{{station.id}}">{{station.location}}</option>
                                          {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group w-full flex flex-col my-4">
                                <div class="form-label">
                                    <label for="ORank" class="text-base my-2">
                                        Rank
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                      <select name="regRank" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        <option value="">-</option>
                                        <option value="Constable">Constable</option>
                                          {% if officerRank == 'OCS' %}
                                        <option value="OCS">OCS</option>
                                          {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-button w-full flex flex-col my-4">
                                <button name="regBtn" id="OBtn" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                                    Sign Up
                                </button>
                            </div>
                       </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}