{% extends "records/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages%}
            {% if message.tags == 'error' %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-red-300 w-2/3 text-red-800 rounded border-red-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-green-300 w-2/3 text-green-800 rounded border-green-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif%}
<div class="main-content h-screen flex flex-row w-full">
    <div class="w-1/6 bg-gray-600 p-3 flex flex-col">
        <button class="w-11/12 flex flex-row bg-gray-800 rounded shadow-inner text-white p-3">
            <div>

            </div>
            <div>
                Dashboard
            </div>
        </button>
    </div>
</div>
{% endblock content %}