{% extends "records/base.html" %}
{% block content %}

<div class="flex justify-center">
        <div class="my-2 mx-10 w-full rounded-lg flex flex-row">
                <div class="w-full p-4 bg-gray-100 rounded-l-lg">
                    <div class="form-container w-full m-auto flex flex-col justify-center my-2">
                        <div class="flex flex-col my-4">
                            <div class="flex flex-col">
                                <span class="text-4xl">
                                    Update your details
                                </span>
                            </div>
                        </div>
                        <hr class="text-black border-2 border-black my-4">
                        <form action="" method="POST" class="flex flex-col" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            <div class="flex flex-row justify-around">
                                <div class="flex flex-col w-full w-5/12">
                                <div class="form-group w-full flex flex-row my-2 justify-between">
                                <div class="w-1/2 mr-2 ">
                                    <div class="form-label">
                                        <label for="regFName" class="text-base my-2">
                                            First Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="regFName" value="{{citizen.fName}}" disabled name="regFName" class="bg-gray-200 select-none cursor-not-allowed w-full p-2 rounded hover:border-blue border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            John
                                        </span>
                                    </div>
                                </div>
                                <div class="ml-2 w-1/2">
                                    <div class="form-label">
                                        <label for="regLName" class="text-base my-2">
                                            Last Name
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="text" id="regLName" value="{{citizen.lName}}" disabled name="regLName" class="bg-gray-200 select-none cursor-not-allowed w-full p-2 rounded hover:border-blue border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Doe
                                        </span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group w-full flex flex-row my-2 justify-between">
                                    <div class="w-1/2 mr-2 ">
                                        <div class="form-label">
                                            <label for="regPhone" class="text-base my-2">
                                                Telephone
                                            </label>
                                        </div>
                                        <div class="form-input my-2 flex">
                                            <input type="text" id="regPhone" value="{{citizen.tel}}" name="regPhone" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        </div>
                                        <div class="text-xs">
                                            <span class="text-gray-700">
                                                +254|
                                            </span>
                                        </div>
                                    </div>
                                    <div class="ml-2 w-1/2">
                                        <div class="form-label">
                                            <label for="regAddress" class="text-base my-2">
                                                Address
                                            </label>
                                        </div>
                                        <div class="form-input my-2 flex">
                                            <input type="text" id="regAddress" value="{{citizen.address}}" name="regAddress" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        </div>
                                        <div class="text-xs">
                                            <span class="text-gray-700">
                                                Embakasi, Nairobi
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="regIDNo" class="text-base my-2">
                                            National ID/Passport/Birth Certificate Number
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <input type="text" id="regIDNo" value="{{citizen.nationalID}}" name="regIDNo" disabled minlength="4" class="bg-gray-200 select-none cursor-not-allowed w-full p-2 rounded hover:border-blue border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">

                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="regGender" class="text-base my-2">
                                            Gender
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <select name="regGender" id="regGender" disabled class="bg-gray-200 select-none cursor-not-allowed w-full p-2 rounded hover:border-blue border-2">
                                            <option value="{{citizen.gender}}">{{citizen.gender}}</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="flex flex-col w-full w-5/12">
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="regEmail" class="text-base my-2">
                                            Email
                                        </label>
                                    </div>
                                    <div class="form-input my-2 flex">
                                        <input type="email" id="regEmail" autocomplete="off" value="{{citizen.email}}" name="regEmail" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                <div class="form-label">
                                    <label for="oldPassword" class="text-base my-2">
                                        Old Password
                                    </label>
                                </div>
                                <div class="form-input my-2">
                                    <input type="password" id="oldPassword" autocomplete="off" value="" name="oldPassword" minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">
                                        Enter your old password.
                                    </span>
                                </div>
                            </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="newPassword" class="text-base my-2">
                                            New Password
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <input type="password" id="newPassword" name="newPassword" minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Enter new password.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group w-full flex flex-col my-2">
                                    <div class="form-label">
                                        <label for="citizenImage" class="text-base my-2">
                                            Profile Photo
                                        </label>
                                    </div>
                                    <div class="form-input my-2">
                                        <input type="file" id="citizenImage" name="citizenImage" minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    </div>
                                    <div class="text-xs">
                                        <span class="text-gray-700">
                                            Choose a profile photo
                                        </span>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="form-button w-full flex justify-center my-4">
                                <button class="p-2 text-center w-1/2 rounded bg-blue-600 text-white text-lg">
                                    Update details
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

{% endblock content %}