input:focus,
select:focus,
textarea:focus{
    outline: none;
}
.custom-shape-divider-bottom-1657651798 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1657651798 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 220px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1657651798 .shape-fill {
    fill: #D1D5DB;
}