{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="navbar w-full">
        <nav class="{% if '8' == '{{pageId}}' %} '{{pageId}}' absolute text-white {% endif %} flex flex-row w-full p-2 bg-gray-200 justify-between items-center sticky top-0">
            <div class="nav-brand w-1/4">
                <img src="{% static 'navBrand.png' %}" alt="Navbar brand">
            </div>
            <div class="nav-main w-3/4 mx-4 flex flex-row-reverse md:flex-row md:justify-around items-center">
                <div class="nav-links w-full hidden md:contents flex flex-row justify-around items-center">
                    <div class="nav-link">
                        <span class="text-2xl">
                            Login
                        </span>
                    </div>
                    <div class="nav-link">
                        <span class="text-2xl">
                            News
                        </span>
                    </div>
                    <div class="nav-link">
                        <span class="text-2xl">
                            Crime
                        </span>
                    </div>
                    <div class="nav-link">
                        <span class="text-2xl">
                            Contact Us
                        </span>
                    </div>
                    <div class="nav-link">
                        <button class="rounded p-2 bg-red-600 text-white text-xl text-center">
                            Report crime
                        </button>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 md:hidden cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
            </div>
        </nav>
    </header>
    <main role="main" class="flex flex-col w-full">
        {% if messages %}
            {% for messages in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="w-full overflow-x-hidden">
            {% block content %}
            <!-- body of the page you have selected -->
            {% endblock %}
        </div>
    </main>
    <footer class="sticky top-0">

    </footer>
</body>
</html>