{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Welcome Back</h2>
     <small style="text-align:center";>Welcome Back!Please fill in your details</small>
 <form method="post">
        <div class="inputContainer">
           <label for="">Case ID:</label>

<select name="form" id="form">
  <option value="caseid"> </option>
     <option value="caseid"> </option>
  <option value="caseid"> </option>
</select>
        </div>
<br>
             <div class="inputContainer">
           <label for="">Officer ID:</label>

<select name="form" id="form">
  <option value="officerid"> </option>
     <option value="officerid"> </option>
  <option value="officerid"> </option>
</select>
        </div>
<br>
           <div class="inputContainer">
        	<label for="" class="label">National ID</label>
            <input type="text" name="text" class="text" placeholder="Enter their National ID" required>
        </div>
<br>
        <div class="inputContainer">
           <label for="">Case Status:</label>

<select name="caseStatus" id="caseStatus">
  <option value="approved">Approved</option>
     <option value="pending">Pending</option>
  <option value="denied">Denied</option>
</select>
        </div>
<br>
       <button>Submit</button>
</form>
{% endblock content %}