{% extends "records/base.html" %}
{% block content %}

    <div class="flex justify-center">
        <div class="my-20 mx-20 w-full rounded-lg flex flex-row">
            <div class="w-2/3 p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-2/3 m-auto flex flex-col justify-center my-4">
                    <div class="flex flex-col my-10">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Welcome Back
                            </span>
                            <span class="text-sm text-gray-600">
                                Let's resume where we left off.
                            </span>
                        </div>
                    </div>
                    <form action="" method="POST" class="flex flex-col w-full">
                        {% csrf_token %}
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="loginEmail" class="text-base my-2">
                                    Email/Username
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="email" id="loginEmail" name="loginEmail" value="" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="loginPassword" class="text-base my-2">
                                    Password
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <input type="password" id="loginPassword" name="loginPassword" required minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-row my-4 justify-between">
                            <div class="flex">
                                <div class="form-input flex items-center">
                                </div>
                                <div class="form-label mx-2">
                                    <small class="float-left py-3 text-sm text-blue-600 cursor-pointer showPasswordToggle">SHOW</small>
                                </div>
                            </div>
                            <div class="form-label items-center flex">
                                <span class="text-sm text-blue-600">


                                </span>
                            </div>
                        </div>
                        <div class="form-button w-full flex flex-col my-4">
                            <button name="loginBtn" type="submit" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                                Login
                            </button>
                        </div>
                        <div class="form-footer w-full flex flex-col my-4">
                            <div class="form-label items-center flex">
                                <span class="text-base">
                                    Don't have an account?<span class="text-blue-600"> <a href="{% url 'userSignUp' %}">Sign up</a></span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         
        </div>
    </div>
<!--js code to toggle password-->
<script>
const loginPassword = document.querySelector("#loginPassword");
const showPasswordToggle = document.querySelector(".showPasswordToggle");


const handleToggleInput = (e) => {
    if (showPasswordToggle.textContent === "SHOW"){
      showPasswordToggle.textContent = "HIDE";
      loginPassword.setAttribute("type","text");
    }else{
           showPasswordToggle.textContent = "SHOW";
           loginPassword.setAttribute("type","password");
    }
};

showPasswordToggle.addEventListener('click',handleToggleInput);

</script>


{% endblock content %}