{% extends "records/base.html" %}
{% block content %}
<h2 class="text-center"><a class="text-blue-500" href="{% url 'criminalbooking' %}"> Book A Criminal </a> | <a href="{% url 'PoliceOfficerApp:CriminalsDisplay' %}"> View Criminals </a></h2>

<!--error/success message block area-->

{% if messages %}
    {% for message in messages%}
        {% if message.tags == 'error' %}
            <div class="flex justify-center">
                <div class="p-4 m-4 bg-red-300 w-2/3 text-red-800 rounded border-red-600 border-2">
                    <span>
                        {{message}}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="flex justify-center">
                <div class="p-4 m-4 bg-green-300 w-2/3 text-green-800 rounded border-green-600 border-2">
                    <span>
                        {{message}}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif%}

<!--Form area for booking the criminal-->

<div class="flex justify-center">
    <div class="my-2 mx-20 w-full rounded-lg flex flex-row">
            <div class="w-2/3 p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-2/3 m-auto flex flex-col justify-center my-2">
                    <div class="flex flex-col my-4">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Criminal Booking
                            </span>
                            <span class="text-sm text-gray-600 my-1">
                                Please fill in the details below
                            </span>
                        </div>
                    </div>
                    <hr class="text-black border-2 border-black my-4">
                    <form action="" method="POST" class="flex flex-col w-full">
                        {% csrf_token %}
                        <div class="form-group w-full flex flex-row my-2 justify-between">
                            <div class="w-1/2 mr-2 ">
                                <div class="form-label">
                                    <label for="criminalFName" class="text-base my-2">
                                        First Name
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <input type="text" id="criminalFName" name="criminalFName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">
                                        John
                                    </span>
                                </div>
                            </div>
                            <div class="ml-2 w-1/2">
                                <div class="form-label">
                                    <label for="criminalLName" class="text-base my-2">
                                        Last Name
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <input type="text" id="criminalLName" name="criminalLName" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">
                                        Doe
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group w-full flex flex-row my-2 justify-between">
                            <div class="w-1/2 mr-2 ">
                                <div class="form-label">
                                    <label for="criminalPhone" class="text-base my-2">
                                        Telephone
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <input type="text" id="criminalPhone" name="criminalPhone" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">
                                        +254|
                                    </span>
                                </div>
                            </div>
                            <div class="ml-2 w-1/2">
                                <div class="form-label">
                                    <label for="criminalAddress" class="text-base my-2">
                                        Address
                                    </label>
                                </div>
                                <div class="form-input my-2 flex">
                                    <input type="text" id="criminalAddress" name="criminalAddress" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                </div>
                                <div class="text-xs">
                                    <span class="text-gray-700">
                                        Embakasi, Nairobi
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="criminalIDNo" class="text-base my-2">
                                    National ID/Passport/Birth Certificate Number
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <input type="text" id="criminalIDNo" name="criminalIDNo" required minlength="4" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                            <div class="text-xs">
                                <span class="text-gray-700">

                                </span>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="criminalGender" class="text-base my-2">
                                    Gender
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <select name="criminalGender" id="criminalGender" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    <option value="">-</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="crimeID" class="text-base my-2">
                                    Crime Id
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="text" id="crimeID" name="crimeID" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="criminalStatus" class="text-base my-2">
                                    Criminal Status
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <select name="criminalStatus" id="criminalStatus" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                    <option value="">-</option>
                                    <option value="pending">Pending</option>
                                    <option value="approved">Approved</option>
                                    <option value="denied">Denied</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="arrestLocation" class="text-base my-2">
                                    Location Arrested
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="text" id="arrestLocation" name="arrestLocation" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="arrestDate" class="text-base my-2">
                                    Date Arrested
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="datetime-local" id="arrestDate" name="arrestDate" max="28-06-2022" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-button w-full flex flex-col my-4">
                            <button name="criminalBookBtn" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                                Book Criminal
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-1/3 p-4 bg-green-100 rounded-r-lg flex items-center justify-center p-16">
                <div>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consectetur cum dignissimos dolorum excepturi, laudantium nam, necessitatibus nemo perferendis placeat quas quia quibusdam quos ratione repellendus repudiandae rerum totam.
                    </p>
                </div>
            </div>
        </div>
</div>
{% endblock content %}