{% extends "records/base.html" %}
{% block content %}

    {% if messages %}
        {% for message in messages%}
            {% if message.tags == 'error' %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-red-300 w-2/3 text-red-800 rounded border-red-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-green-300 w-2/3 text-green-800 rounded border-green-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif%}

    <div class="flex justify-center">
        <div class="my-20 mx-20 w-full rounded-lg flex flex-row">
            <div class="w-2/3 p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-2/3 m-auto flex flex-col justify-center my-4">
                    <div class="flex flex-col my-10">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Welcome to the Report Crime Portal
                            </span>
                            <span class="text-sm text-gray-600">
                                Fill in the form below, and we shall get back to you as soon as possible.
                            </span>
                        </div>
                    </div>
                    <form action="" method="POST" class="flex flex-col w-full">
                        {% csrf_token %}
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="crimeNature" class="text-base my-2">
                                    Nature of the CrimesDisplay
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="text" id="crimeNature" name="crimeNature" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                            <div class="text-xs">
                                <span class="text-gray-700">
                                    Enter the type of CrimesDisplay. Example theft, rape, accident etc.
                                </span>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="crimeDescription" class="text-base my-2">
                                    Crime Description
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <textarea id="crimeDescription" name="crimeDescription" style="resize: none;" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2"></textarea>
                            </div>
                            <div class="text-xs">
                                <span class="text-gray-700">
                                    Be as descriptive as possible when explaining the CrimesDisplay. Include place, time and people involved.
                                </span>
                            </div>
                        </div>
                        <div>
                        </div>
               <div class="form-button w-full flex flex-col my-4">
         <div data-role="controls">
                           <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                              Record
                            </button>
             </div>
          <div data-role="recordings"></div>
                        </div>


                        <div class="form-button w-full flex flex-col my-4">
                            <button name="reportCrime" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                                Report Crime
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://markjivko.com/dist/recorder.js"></script>
        <script>
            jQuery(document).ready(function () {
                var $ = jQuery;
                var myRecorder = {
                    objects: {
                        context: null,
                        stream: null,
                        recorder: null
                    },
                    init: function () {
                        if (null === myRecorder.objects.context) {
                            myRecorder.objects.context = new (
                                    window.AudioContext || window.webkitAudioContext
                                    );
                        }
                    },
                    start: function () {


                        var options = {audio: true, video: false};
                        navigator.mediaDevices.getUserMedia(options).then(function (stream) {
                            myRecorder.objects.stream = stream;
                            myRecorder.objects.recorder = new Recorder(
                                    myRecorder.objects.context.createMediaStreamSource(stream),
                                    {numChannels: 1}
                            );
                            myRecorder.objects.recorder.record();
                        }).catch(function (err) {});

                    },
                    stop: function (listObject) {
                        if (null !== myRecorder.objects.stream) {
                            myRecorder.objects.stream.getAudioTracks()[0].stop();
                        console.log("Hello World!")
                        }
                        if (null !== myRecorder.objects.recorder) {
                            myRecorder.objects.recorder.stop();

                            // Validate object
                            if (null !== listObject
                                    && 'object' === typeof listObject
                                    && listObject.length > 0) {
                                // Export the WAV file
                                myRecorder.objects.recorder.exportWAV(function (blob) {
                                    var url = (window.URL || window.webkitURL)
                                            .createObjectURL(blob);

                                    // Prepare the playback
                                    var audioObject = $('<audio controls></audio>')
                                            .attr('src', url);

                                    // Prepare the download link
                                    var downloadObject = $('<a></a>')
                                            .attr('href', url)
                                            .attr('download', new Date().toUTCString() + '.wav');

                                    // Wrap everything in a row
                                    var holderObject = $('<div class="row"></div>')
                                            .append(audioObject)
                                            .append(downloadObject);

                                    // Append to the list
                                    listObject.append(holderObject);
                                });
                            }
                        }
                    }
                };

                // Prepare the recordings list
                var listObject = $('[data-role="recordings"]');

                // Prepare the record button
                $('[data-role="controls"] > button').click(function () {
                    // Initialize the recorder
                    myRecorder.init();

                    // Get the button state
                    var buttonState = !!$(this).attr('data-recording');

                    // Toggle
                    if (!buttonState) {
                        $(this).attr('data-recording', 'true');
                        myRecorder.start();
                    } else {
                        $(this).attr('data-recording', '');
                        myRecorder.stop(listObject);
                    }
                });
            });
            var xhr=new XMLHttpRequest();
xhr.onload=function(e) {
  if(this.readyState === 4) {
      console.log("Server returned: ",e.target.responseText);
  }
};
var fd=new FormData();
fd.append("audio_data",blob, "filename");
xhr.open("POST","",true);
xhr.send(fd);
        </script>




            <div class="w-1/3 p-4 bg-green-100 rounded-r-lg flex items-center justify-center p-16">
                <div>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consectetur cum dignissimos dolorum excepturi, laudantium nam, necessitatibus nemo perferendis placeat quas quia quibusdam quos ratione repellendus repudiandae rerum totam.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}