{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Crime Report</h2>
     <small style="text-align:center";>Welcome Back!Please fill in the details</small>
 <form action="" method="POST">
    {% csrf_token %}
        <div class="inputContainer">
            <label for="" class="label">Nature of the Crime</label>
            <input type="text" name="crimeNature" class="input" placeholder="Nature of the Crime" required>
        </div>
<br>
        <div class="inputContainer">
          <label for="" class="label">Crime Description</label>
          <textarea id="myInput" name="description" rows="4" cols="50" required>
          </textarea>
        </div>
        <br>
       <input type="submit" value="Submit"/>
    {% if messages %}
    {% for message in messages%}
    <h2 style="color:red;">{{message}}</h2>
    {% endfor %}
    {% endif%}
    {% endblock content %}

</form>