
{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Add Evidence </h2>
     <small style="text-align:center";>Welcome Back!Please fill in the details</small>
 <form method="post">
        <div class="inputContainer">
            <label for="" class="label">National ID</label>
            <input type="text" name="email" class="input" placeholder="Enter Your National ID" required>
        </div>
<br>
        <div class="inputContainer">
          <label for="" class="label">Evidence Description</label>
          <input type="text" name="text"  id="myInput" class="input" placeholder="Give more details on the evidence" required>
        </div>
      <span>
        <div class="inputContainer">
          <label for="" class="label">Upload Images</label>
          <input type="file" name="file"  id="file" class="file">
        </div>
    
           <div class="inputContainer">
          <label for="" class="label">Additional Files</label>
          <input type="file" name="file"  id="file" class="file">
        </div>
          <span>
      <br>
<button>Submit</button>

{% endblock content %}
