{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Welcome Back</h2>
     <small style="text-align:center";>Welcome Back!Please fill in your details</small>
 <form method="post">
        <div class="inputContainer">
        	<label for="nationalID" class="label">National ID</label>
            <input type="text" name="nationalID" id="nationalID" class="text" placeholder="Enter their National ID" required>
        </div>
<br>
   <div class="inputContainer">
           <label for="forms">Form:</label>

<select name="forms" id="forms">
  <option value="p3">p3</option>
     <option value="accident abstract">Accident Abstract</option>
  <option value="abstract">Abstract</option>
</select>
        </div>
<br>

       <button>Submit</button>
</form>
{% endblock content %}