{% extends "records/base.html" %}
{% block content %}
<h2 class="text-center"><a class="text-blue-500" href="{% url 'ob' %}"> Record OB </a> | <a href="{% url 'PoliceOfficerApp:CrimesDisplay' %}"> View Crimes </a> </h2>
    {% if messages %}
        {% for message in messages%}
            {% if message.tags == 'error' %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-red-300 w-2/3 text-red-800 rounded border-red-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="flex justify-center">
                    <div class="p-4 m-4 bg-green-300 w-2/3 text-green-800 rounded border-green-600 border-2">
                        <span>
                            {{message}}
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif%}

    <div class="flex justify-center">
        <div class="my-20 mx-20 w-full rounded-lg flex flex-row">
            <div class="w-2/3 p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-2/3 m-auto flex flex-col justify-center my-4">
                    <div class="flex flex-col my-10">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Welcome to the Occurrence Book
                            </span>
                            <span class="text-sm text-gray-600">
                                Fill in all the details for the OB to be recorded.
                            </span>
                        </div>
                    </div>
                    <form action="" method="POST" class="flex flex-col w-full">
                        {% csrf_token %}
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="obID" class="text-base my-2">
                                    National ID
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="email" id="obID" name="obID" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="obCrime" class="text-base my-2">
                                    Crime
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <input type="text" id="obCrime" name="obCrime" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                            <div class="text-xs">
                                <span class="text-gray-700">
                                    Pick a CrimesDisplay from the list provided
                                </span>
                            </div>
                        </div>
                        <div class="form-group w-full flex flex-col my-2">
                            <div class="form-label">
                                <label for="obAction" class="text-base my-2">
                                    Action Taken
                                </label>
                            </div>
                            <div class="form-input my-2">
                                <input type="text" id="obAction" name="obAction" required class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                            <div class="text-xs">
                                <span class="text-gray-700">
                                    Person under investigation (PUI)
                                </span>
                            </div>
                        </div>
                        <div class="form-button w-full flex flex-col my-4">
                            <button name="loginBtn" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                                Record in OB
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-1/3 p-4 bg-green-100 rounded-r-lg flex items-center justify-center p-16">
                <div>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae consectetur cum dignissimos dolorum excepturi, laudantium nam, necessitatibus nemo perferendis placeat quas quia quibusdam quos ratione repellendus repudiandae rerum totam.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}