{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Officer SignUp</h2>
     <small style="text-align:center";>Welcome Back!Please fill in your details</small>
 <form action="" method="post">{% csrf_token %}
        <div class="inputContainer">
        	<label for="" class="label">First Name</label>
            <input type="text" name="fName" class="input" placeholder="Enter Your First Name" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Last Name</label>
            <input type="text" name="lName" class="input" placeholder="Enter Your Last Name" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Email </label>
            <input type="email" name="email" class="input" placeholder="Enter Your Email" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Telephone Number</label>
            <input type="text" name="tel" class="input" placeholder="Enter Your Telephone Number" required>
        </div>
<br>
            <div class="inputContainer">
            <label for="" class="label">National ID</label>
            <input type="text" name="nationalID" class="input" placeholder="Enter Your National ID" required>
        </div>
<br>

    <div class="inputContainer">
           <label for="">Gender:</label>

<select name="gender" id="gender">
  <option value="female">Female</option>
  <option value="male">Male</option>
</select>
        </div>
<br>
          <div class="inputContainer">
           <label for="" class="label">Date of Birth:</label>
           <input type="date" id="label" name="DOB">
       </div>
     <br>
    <div class="inputContainer">
           <label for="">Rank:</label>

<select name="rank" id="rank">
  <option value="OCS">OCS</option>
  <option value="officer">Officer</option>
</select>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Password </label>
            <input type="password" name="password1" class="input" placeholder="Enter Your Password" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Confirm Password</label>
            <input type="password" name="password2" class="input" placeholder="Kindly Confirm Password" required>
        </div>
<br>
    <div class="inputContainer">
           <label for="">Employment Status:</label>

<select name="employmentStatus" id="employmentStatus">
  <option value="employed">Employed</option>
  <option value="retired">Retired</option>
      <option value="terminated">Terminated</option>
      <option value="courtMartialed">Court Martialed</option>
      <option value="other">Other</option>
</select>
        </div>
<br>
     <div class="inputContainer">
           <label for="" class="label">Employment Date:</label>
           <input type="date" id="label" name="employmentDate">
       </div>
     <br>
      <input type="submit" value=" Submit "/>
{% if messages %}
    {% for message in messages%}
    <h2 style="color:red;">{{message}}</h2>
    {% endfor %}
    {% endif%}
    {% endblock content %}