{% extends "records/base.html" %}
{% block content %}
     <h2 style="text-align:center";>Officer SignUp</h2>
     <small style="text-align:center";>Welcome Back!Please fill in your details</small>
 <form action="" method="post">{% csrf_token %}
        <div class="inputContainer">
        	<label for="" class="label">First Name</label>
            <input type="text" name="fname" class="input" placeholder="Enter Your First Name" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Last Name</label>
            <input type="text" name="lname" class="input" placeholder="Enter Your Last Name" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Email </label>
            <input type="email" name="email" class="input" placeholder="Enter Your Email" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Telephone Number</label>
            <input type="number" name="tel" class="input" placeholder="Enter Your Telephone Numer" required>
        </div>
<br>

<!--     <div class="inputContainer">-->
<!--            <label for="" class="label">Gender </label>-->
<!--            <select>-->
<!--                <option name="gender">-->
<!--                    Female-->
<!--                </option>-->
<!--                <option name="gender">-->
<!--                    Male-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<br>
<!--       <div class="inputContainer">-->
<!--            <label for="" class="label">Rank </label>-->
<!--            <select>-->
<!--                <option>-->
<!--                    Officer-->
<!--                </option>-->
<!--                <option>-->
<!--                    OCS-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<br>
       <div class="inputContainer">
            <label for="" class="label">Password </label>
            <input type="password" name="password" class="input" placeholder="Enter Your Password" required>
        </div>
<br>
       <div class="inputContainer">
            <label for="" class="label">Confirm Password</label>
            <input type="password" name="cpassword" class="input" placeholder="Kindly Confirm Password" required>
        </div>
<br>



       <button>Submit</button>
{% endblock content %}