{% extends "PoliceOfficerApp/base.html" %}
{% block content %}
    <div class="flex justify-center w-full">
        <div class="my-20 w-1/2 rounded-lg flex flex-row">
            <div class="w-full p-4 bg-gray-100 rounded-l-lg">
                <div class="form-container w-2/3 m-auto flex flex-col justify-center my-4">
                    <div class="flex flex-col my-10">
                        <div class="flex flex-col">
                            <span class="text-4xl">
                                Case Transfer
                            </span>
                        </div>
                    </div>
                    <form action="" method="POST" class="flex flex-col w-full">
                        {% csrf_token %}
                        <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="stationID" class="text-base my-2">
                                 Receiving Police Station
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                    <select name="stationID" id="stationID" class="w-full p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                                        {% for station in stations %}
                                            {% if case.currentStation != station.id %}
                                                <option value="{{station.id}}">{{station.location}} Police Station</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                            </div>

                         <div class="form-group w-full flex flex-col my-4">
                            <div class="form-label">
                                <label for="caseNo" class="text-base my-2">
                                 Case Number
                                </label>
                            </div>
                            <div class="form-input my-2 flex">
                                <input type="text" id="caseNo" value="{{case.caseNumber}}" disabled name="caseNo" required class="w-full select-none p-2 rounded hover:border-blue invalid:border-red-500 valid:border-green-500 required:border-red-500 border-2">
                            </div>
                         </div>

                        <div class="form-button w-full flex flex-col my-4">
                            <button name="addCrime" class="p-2 text-center w-full rounded bg-blue-600 text-white text-lg">
                               Approve Case Transferal
                            </button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}